<style>
  body {
  background-color: #6D8B74;
  }
  hr {
  background-color: #6D8B74;
  border-style: none;
  border-top-style: dotted;
  border-color: #5F7161;
  border-width: 5px;
  width: 5%;
  height:0px;
  }

</style>
